@font-face {
    font-family: typo ;
    src: url(./assets/font/TypoGraphica_demo.otf);
}

@font-face {
    font-family: lives ;
    src: url(./assets/font/aBlackLives.otf);
}

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

.text-bluenight {
    color: rgb(27, 27, 58);
}

.typo{
    font-family: typo;
}

.backgroundvert {
    background-color: rgb(27, 68, 27);
}

.background_header {
    background-color: rgb(27, 27, 58);
}

.taille_icone_rs {
    width: 30px;
    height: 30px;
}

.mt-50 {
    margin-top: 50px !important;
}

.body-grey {
    background-color: rgb(216, 216, 216) ;
}

.taille_icone_compétence {
    width: 120px;
    height: 100px;
}

.taille_icone_compétence_ {
    width: 190px;
    height: 100px;
}
